/* Adjust top of note position, so its higher*/
.view-content>.markdown-source-view.mod-cm6>.cm-editor>.cm-scroller {
  padding-top: 00px;
  margin-top: 00px;
}


/* Change Internal link Color [[]] */
body {
  --link-color: #b1a034;
  --link-color-hover: #dbc740;
  /*--link-external-color: olive; */
  /* --link-external-color-hover: #d1e189 ;206374*/
}

.internal-link {
  font-weight: bold;
}